@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Bold.woff2') format('woff2'),
      url('./fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Regular.woff2') format('woff2'),
      url('./fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-dark {
  background-color: #001821;
}

.bg-1 {
  background-image: url("image/bg1.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.bg-2 {
  background-image: url("image/bg2.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
}

.list-style {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

.btn {
  display: inline-block;
  background-color: #F5170E;

  border-radius: 35px;
  padding: 18px 40px;
  
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none; 
  color:#fff;
}

/*=============header=============*/

.header {
  height: 125px;
  color: #fff;
  position: relative;
  margin-bottom: 85px;
}

.logo {
  display: block;
  position: absolute;
  top: 45px;
}

.menu {
  position: absolute;
  top: 53px;
  left: 164px;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 51px;
}
.menu__link{
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s ease;
}

.menu__link:hover {
  color: #DA0100;
}

.contacts {
  font-style: normal;
  position: absolute;
  top: 42px;
  right: 0px;
}

.contacts__phone {
  font-size: 26px;
  text-decoration: none;
  color: #fff;
  margin-bottom: 4px;
}

.contacts__dropdown-work {
  font-size: 13px;
  text-align: right;
  text-decoration: underline;
  margin-top: -7px;
  transition: 0.3s ease;
  color: #98A4A8;
}

.contacts__dropdown-work:hover {
  color: #fff;
  cursor: pointer;
}


/*=============author=============*/

.author {
  color: #fff;
  max-width: 511px;
  margin-bottom: 246px;
}

.author__title {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.4;

  margin-bottom: 24px;
}

.author__btn {
  transition: 0.3s ease;
}

.author__btn:hover {
  background-color: #DA0100;
}

.author__text {
  font-size: 18px;
  margin-bottom: 30px;
}

.subtitle {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

.tours__title {
  position: relative;
}

.tours__title::after {
  content: "";
  display: inline-block;
  position: absolute;
  background: url("image/flame.png");
  width: 21px;
  height: 28px;
  top: 13px;
  left: 287px;
}

/*=============tours=============*/

.tours {
  margin-bottom: 127px;
}


.tours__wrap {
  display: inline-block;
  width: 362px;
  min-height: 449px;
  border-radius: 10px;
  background-color: #fff;
  margin-left: 22px;
}

.tours__wrap:first-child {
  margin-left: 0px;
}

.tour__image-wrap {
  min-height: 144px;
  margin-bottom: 28px;
}

.tour__image {
  border-radius: 5px 5px 0px 0px;
}

.tour__content {
  padding-left: 22px;
  color: #000;
}


.tour__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.service {
  margin-bottom: 27px;
}

.service__item {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  margin-right: 10px;
  position: relative;
}

.service__item:last-child {
  margin-right: 0;
} 


.service__days {
  display: inline-block;
  margin: 0;
  padding-left: 42px;
}

.service__days::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("./image/calendar.png");
  width: 26px;
  height: 26px;
  top: -3px;
  left: 5px;
}

.service__breakfasts {
  display: inline-block;
  margin: 0;
  padding-left: 40px;
}

.service__breakfasts::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("./image/meal.png");
  width: 36px;
  height: 36px;
  top: -3px;
  left: -4px;
}


.desc-tours {
  margin-bottom: 27px;
}

.desc-tours__text {
  font-size: 14px;
  margin: 0;
}

.tour-btn {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #F5170E;

  color: #F5170E;

  padding: 18px 30px;
  transition: 0.3s ease;
}

.tour-btn:hover {
  background-color: #F5170E;
  color: #fff;;
}

.btn--active {
  display: inline-block;
  background-color: #F5170E;
  color: #fff;
}

/*=============news=============*/

.news {
  margin-top: 127px;
  margin-bottom: 52px;
}

.news__list {
  padding: 0;
  margin: 0;
}

.news__item {
  color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.news__wrap {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 20px;
  width: 557px;
}

.news__wrap:first-child {
  margin: 0px;
}

.news__image {
  display: block;
  width: 100%;
  height: 100%;
}

.news__content-wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 150px;
  padding: 31px 30px;
}

.news__content-wrap-2 {
  padding: 9px 30px;
  
}

.news__content-wrap-2 p {
  margin: 0;
}

.news__data {
  font-size: 14px; 
}

.news__subtitle {
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
}

.news__text {
  margin-top: 6px;
}

/*=============paginator=============*/

.paginator {
  color: #fff;
  text-align: center;
  margin-bottom: 146px;
}

.paginator__display, .paginator__list {
  display: inline-block;
  vertical-align: middle;
}

.paginator__display {
  margin-right: 25px;
}


.paginator__item {
  display: inline-block;
  vertical-align: middle;
}

.paginator__item--active .paginator__link {
    background-color: #fff;
    color: #F5170E;
}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  line-height: 32px;
  transition: 0.3s ease;
}

.paginator__link:hover {
  background-color: #fff;
  color: #F5170E
}


/*=============about=============*/
.section {
  margin-bottom: 52px;
}

.about::before, .about__desc {
  display: inline-block;
  vertical-align: top;
}

.about::before {
  content: "";
  width: 490px;
  height: 505px;
  background: url("./image/gates.jpg") center center / cover no-repeat;
  border-radius: 5px;
}

.about__desc {
  background: url("./image/mountains.jpg") center center / cover no-repeat ;
  padding: 70px 80px;
  width: 786px;
  margin-left: 353px;
  margin-top: -410px;
  border-radius: 5px;
}

.about__title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 40px;
}

.about__text {
  width: 502px;
  margin-bottom: 46px;
}

.about__text p {
  color: #060606;
  line-height: 26px;
}

.about__text p:last-child {
  margin-bottom: 0;
}
.abouts__btn:hover {
  background-color: #DA0100         ;
}

/*=============footer=============*/
.footer-container__content {
  border-top: 1px solid rgba(255, 255, 255, .10);
}

.footer {
  height: 150px;
  position: relative;
  color: #fff;
}
.menu-footer {
  top: 56px;
  left: 162px;
}

.contacts-footer {
  margin-top: 10px;
}

.contacts__footer-work {
  text-decoration: none;
  margin-bottom: 2px;
  font-size: 11px;
  color: #9A9A9A;
  text-align: right;
}

.contacts__footer-phone {
  margin-top: 10px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials {
  top: 52px;
  right: 254px;
  position: absolute;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__item--icon--telega .socials__link {
  background-image: url("./image/telegram.png");
}


.socials__item--icon--telega .socials__link:hover {
  background-image: url("./image/telega-hover.png");
}

.socials__item--icon--vk .socials__link {
  background-image: url("./image/vk.png");
}


.socials__item--icon--vk .socials__link:hover {
  background-image: url("./image/vk-hover.png");
}

.socials__item--icon--fb .socials__link {
  background-image: url("./image/facebook.png");
}


.socials__item--icon--fb .socials__link:hover {
  background-image: url("./image/fb-hover.png");
}

.socials__item--icon--insta .socials__link {
  background-image: url("./image/insta.png");
}


.socials__item--icon--insta .socials__link:hover {
  background-image: url("./image/insta-hover.png");
}