.about {
  display: flex;
}

.about::before, .about__desc {
  border-radius: 5px;
}

.about::before {
  display: block;
  content: "";
  width: 490px;
  height: 505px;
  background: url("../../image/gates.jpg") center center / cover no-repeat;
}

.about__desc {
  background: url("../../image/mountains.jpg") no-repeat;
  padding: 80px 90px;
  margin-left: -90px;
  margin-top: 100px;
  max-width: 785px;
  min-height: 455px;
}

.about__title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 40px;
  letter-spacing: 1px;
}


.about__desc-text p {
  color: #060606;
  line-height: 26px;
  margin-bottom: 72px;
  font-weight: 400;
  font-size: 16px;
}

.abouts__btn:hover {
  background-color: #DA0100;
}