.section {
  margin-bottom: 52px;
}

.about {
  display: flex;
  position: relative;
}
.about__wrap-img {
  min-width: 490px;
  
}

.about__wrap-img img {
  display: block;
  width: 100%;
}

.about__desc-wrap {
  position: relative;
  min-width: 785px;
}

.about__desc-wrap img {
  display: block;
  width: 100%;
  margin-left: -136px;
  margin-top: 97px;
}

.about__desc {
  position: absolute;
  right: 337px;
  bottom: 66px;
}

.about__title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.about__text {
  width: 502px;
}

.about__text p {
  color: #060606;
  line-height: 26px;
  margin-bottom: 72px;
  font-weight: 400;
  font-size: 16px;
}

.abouts__btn:hover {
  background-color: #DA0100;
}