.author {
  color: #fff;
  max-width: 511px;
  margin-bottom: 246px;
}

.author__content-wrap h1 {
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 2px;

  margin-bottom: 24px;
}

.author__content-wrap p {
  font-size: 18px;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
}

.author__btn {
  transition: 0.3s ease;
}

.author__btn:hover {
  background-color: #DA0100;
}
