.breadcrumbs {
  padding-bottom: 20px;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
  position: relative;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
}

.breadcrumbs__item::after {
  content: "/";
  color: #9A9A9A;
  
}

.breadcrumbs__item:last-child::after {
  display: none;
}


.breadcrumbs__link {
  color: #9A9A9A;
  font-size: 14px;
}

.breadcrumbs__link--active {
  font-weight: 700;
}