
.contacts {
  display: flex;
  flex-direction: column;
  font-style: normal;
  margin-right: 30px;
}

.contacts__phone {
  font-size: 26px;
  text-decoration: none;
  color: #fff;
}

.contacts span {
  font-size: 13px;
  text-align: right;
  text-decoration: underline;
  transition: 0.3s ease;
  color: #98A4A8;
}

.contacts span:hover {
  color: #fff;
  cursor: pointer;
}
