
.contacts {
  font-style: normal;
  position: absolute;
  top: 42px;
  right: 0px;
}

.contacts__phone {
  font-size: 26px;
  text-decoration: none;
  color: #fff;
  margin-bottom: 4px;
}

.contacts__dropdown-work {
  font-size: 13px;
  text-align: right;
  text-decoration: underline;
  margin-top: -7px;
  transition: 0.3s ease;
  color: #98A4A8;
}

.contacts__dropdown-work:hover {
  color: #fff;
  cursor: pointer;
}
