.dropdown {
  display: flex;
  justify-content: flex-end;
  position: relative;
  color: #1E1F20;
}

.dropdown:hover .dropdown__link {
  color: #fff;
}

.dropdown:hover .dropdown__menu {
  left: 0px;
  opacity: 1;
}

.dropdown__menu {
  position: absolute;
  background: #CDD1D2;
  padding: 11px 18px;
  border-radius: 5px;
  top: 100%;
  margin-top: 5px;
  margin-left: 30px;
  left: -9999px;
  opacity: 0;
  transition: opacity .6s ease;
}

.dropdown__menu::before {
  content: "";
  display: block;
  height: 30px;
  left: 0;
  right: 0;
  top: -29px;
  position: absolute;
}

.dropdown__menu::after {
  content: "";
  display: block;
  border: 10px solid transparent;
  width: 0;
  height: 0;
  border-bottom-color: #CDD1D2;
  border-top-width: 0px;
  position: absolute;
  top: -10px;
  right: 0;
  left: 99px;
  bottom: 0px;
}

.dropdown__item span{
  font-size: 13px;
}

.dropdown__item-time{
  font-weight: 700;
}


.dropdown__link {
  display: inline-block;
  font-size: 13px;
  text-decoration: underline;
  transition: 0.3s ease;
  color: #98A4A8;
}
