.footer-container__content {
  border-top: 1px solid rgba(255, 255, 255, .10);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding-top: 47px;
  padding-bottom: 47px;
}
.menu__list-footer {
  display: flex;
  margin-right: 115px;
}

.contacts__footer-work {
  text-decoration: none;
  margin-bottom: 2px;
  font-size: 11px;
  color: #9A9A9A;
  text-align: right;
}

.contacts__footer-phone {
  margin-top: 10px;
}
