.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin-bottom: 115px;
  padding-top: 52px;
}

.header__column {
  display: flex;
  align-items: center;
}

.header__column--align--right {
  justify-content: flex-end;
}


