
.menu__list {
  display: flex;
}

.menu__item {
  margin-right: 51px;
}
.menu__link{
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s ease;
  letter-spacing: 1px;
}

.menu__link:hover {
  color: #DA0100;
}