.news {
  margin-top: 127px;
  margin-bottom: 52px;
}

.news__list {
  display: flex;
  justify-content: space-between;
}

.single-news {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.news__item {
  color: #fff;
  flex: 1;
  height: 394px;
  margin-right: 25px;
}

.news__item:last-child {
  margin-right: 0px;
}

.single-news__image-wrap {
  width: 100%;
  height: 394px
}

.single-news__image {
  display: block;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.single-news__content-wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 30px 48px;
  min-height: 125px;
}

.single-news__data {
  font-size: 14px; 
}

.single-news__subtitle {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}

.single-news__text {
  margin: 0;
}