.paginator {
  display: flex;
  justify-content: center;
  color: #fff;
  align-items: center;
  margin-bottom: 146px;
}

.paginator__display {
  margin-right: 30px;
}

.paginator__item {
  text-align: center;
}

.paginator__display-services {
  color: #000;
}

.paginator__list {
  display: flex;
  align-items: center;
}

.paginator__list-services .paginator__link {
  color: #000;
}

.paginator__list-services .paginator__item--active .paginator__link {
  background-color: #F5170E;
  color: #fff;
}

.paginator__list-services .paginator__link:hover {
  background-color: #F5170E;
  color: #fff;
}

.paginator__item--active .paginator__link {
    background-color: #fff;
    color: #F5170E;
}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  line-height: 32px;
  transition: 0.3s ease;
}

.paginator__link:hover {
  background-color: #fff;
  color: #F5170E
}