.inner-section {
  color: #1A1B1E;
  
}

.inner-section--bg--grey {
  background: #F4F5F5;
}

.inner-section__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 67px;
  margin-top: 88px;
}

.section__reviews {
  margin-top: 0px;
  margin-bottom: 57px;
}

.inner-section-reviews {
  margin-top: 0px;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 118px;
}

.partners__item {
  margin-left: 46px;
}

.partners__item:nth-child(4n+1) {
  margin-left: 0px;
}

.pertners__link {
  text-decoration: none;
  display: flex;
  width: 240px;
  height: 100px;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
}

.pertners__link:hover {
  filter: grayscale(0%);
}
