.separator {
  background: url("../../image/separator/rectangle.jpg") no-repeat;
  min-height: 363px;
  position: relative;
}


.separator__content {
  width: 595px;
  padding-top: 115px;
}

.separator__title {
  font-size: 48px;
  font-weight: 700;
  color:#fff;
}

.separator__image {
  width: 100%;
  height: 100%;
}

.separator__image img {
  width: 487px;
  height: 341px;
  position: absolute;
  bottom: 0;
  right: 420px;
}

