.page-content {
  background: #fff;
  color: #303030;
  padding: 40px 0;
}

.services {
  margin-bottom: 65px;
}

.services__item {
  display: flex;
  padding: 20px 20px;
  text-decoration: none;
  color: #303030;
}

.services-block {
  display: flex;
}

.services__img {
  width: 40%;
  margin-right: 7%;
}

.services__content {
  flex: 1;
}

.services__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 28px;
  color: #000;
}

.services__desc {
  line-height: 1.7;
  margin-bottom: 30px;
}

.btn-service {
  background: #fff;
  color: #F5170E;
  border: 1px solid #F5170E;
  transition: 0.3s ease;
}

.btn-service:hover {
  background-color: #F5170E;
  color: #fff;
}

.btn-service--active {
  display: inline-block;
  background-color: #F5170E;
  color: #fff;
}