
.socials {
  display: flex;
  margin-right: 70px;
}

.socials__item {
  margin-right: 9px;

}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__item--icon--telega .socials__link {
  background-image: url("../../image/social/telegram.png");
}


.socials__item--icon--telega .socials__link:hover {
  background-image: url("../../image/social/telega-hover.png");
}

.socials__item--icon--vk .socials__link {
  background-image: url("../../image/social/vk.png");
}


.socials__item--icon--vk .socials__link:hover {
  background-image: url("../../image/social/vk-hover.png");
}

.socials__item--icon--fb .socials__link {
  background-image: url("../../image/social/facebook.png");
}


.socials__item--icon--fb .socials__link:hover {
  background-image: url("../../image/social/fb-hover.png");
}

.socials__item--icon--insta .socials__link {
  background-image: url("../../image/social/insta.png");
}


.socials__item--icon--insta .socials__link:hover {
  background-image: url("../../image/social/insta-hover.png");
}