.subtitle {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

.tours__title {
  position: relative;
}

.tours__title::after {
  content: "";
  display: inline-block;
  position: absolute;
  background: url("../../image/tours/flame.png");
  width: 21px;
  height: 28px;
  top: 13px;
  left: 287px;
}

/*=============tours=============*/

.tours {
  margin-bottom: 127px;
}

.tours__list {
  display: flex;
  justify-content: space-between;
}


.tours__wrap {
  width: 362px;
  min-height: 449px;
  border-radius: 5px;
  background-color: #fff;
}


.tour__image-wrap {
  min-height: 144px;
  margin-bottom: 28px;
}

.tour__image {
  display: block;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.tour__content {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 5px;
  color: #000;
}


.tour__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 7px;
  letter-spacing: 1px;
}

.service {
  margin-bottom: 27px;
  display: flex;
  margin-bottom: 0px;
}

.service__item:last-child {
  margin-right: 0;
} 

.service__days {
  background-image: url("../../image/tours/calendar.png");
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 36px;
  margin-left: 6px;
  margin-right: 29px;
  letter-spacing: 1px;
}

.service__breakfasts {
  background-image: url("../../image/tours/meal.png");
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 42px;
  letter-spacing: 1px;
}

.desc-tours p {
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-top: 11px;
  margin-bottom: 21px;
  line-height: 1.5;
}

.tour-btn {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #F5170E;
  text-align: center;

  color: #F5170E;

  padding: 18px 28px;
  transition: 0.3s ease;
}

.tour-btn:hover {
  background-color: #F5170E;
  color: #fff;;
}

.btn--active {
  display: inline-block;
  background-color: #F5170E;
  color: #fff;
}