.subtitle {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

.tours__title {
  position: relative;
}

.tours__title::after {
  content: "";
  position: absolute;
  background: url("../../image/tours/flame.png") no-repeat;
  width: 21px;
  height: 28px;
  top: 13px;
  left: 287px;
}

/*=============tours=============*/


.tours__list {
  display: flex;
  justify-content: space-between;
}

.tour__item {
  width: calc(100% / 3 - 28px);
  
}

.offer {
  min-height: 449px;
  border-radius: 5px;
  color: #000;
  overflow: hidden;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.tour__image-wrap {
  width: 100%;
  height: 144px;
  margin-bottom: 34px;
}

.tour__image {
  display: block;
  border-radius: 5px 5px 0 0;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.tour__content {
  padding: 0px 21px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tour__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 7px;
  letter-spacing: 1px;
}

.service {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.service__item:last-child {
  margin-right: 0;
} 

.service__days {
  background-image: url("../../image/tours/calendar.png");
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 44px;
  letter-spacing: 1px;
}

.service__breakfasts {
  background-image: url("../../image/tours/meal.png");
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 42px;
  margin-right: 42px;
  letter-spacing: 1px;
}

.desc-tours p {
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  margin: 0;
}


.tour-wrap-btn {
  display: flex;
  margin-top: auto;
  margin-bottom: 25px;
}

.tour-btn {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #F5170E;
  text-align: center;

  color: #F5170E;

  padding: 18px 28px;
  transition: 0.3s ease;
}

.tour-btn:hover {
  background-color: #F5170E;
  color: #fff;
}

.btn--active {
  display: inline-block;
  background-color: #F5170E;
  color: #fff;
}